@import './fonts/local-fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent horizontal scrolling on mobile */
html, body {
  overflow-x: hidden;
}

body {
  width: 100%;
  position: relative;
}
